:root {
  --accent: 148, 72, 255;
  --aqua: 0, 255, 255;
  --contrast: 255, 255, 255;
  --text: 0, 0, 0;
  --theme-100: 12, 13, 15;
  --theme-200: 17, 18, 21;
  --theme-300: 23, 25, 30;
  --theme-400: 29, 32, 38;
  --theme-500: 42, 45, 52;
  --theme-600: 62, 65, 71;
  --theme-700: 109, 110, 114;
  --theme-800: 160, 160, 160;
  --theme-900: 185, 185, 185;
}
