:root {
  --accent: 148, 72, 255;
  --aqua: 0, 255, 255;
  --contrast: 0, 0, 0;
  --text: 255, 255, 255;
  --theme-300: 244, 244, 244;
  --theme-400: 225, 225, 225;
  --theme-500: 199, 199, 199;
  --theme-600: 188, 188, 188;
  --theme-700: 177, 177, 177;
  --theme-800: 112, 112, 112;
}
